node_modules/
.expo/
dist/
web-build/
expo-env.d.ts


*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env*.local
.DS_Store
npm-debug.*
yarn-error.*
coverage/
*.tsbuildinfo
.kotlin/
.metro-health-check*
*.pem

# generated native folders
/ios
/android
